In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

<frozen importlib._bootstrap>:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject

In [2]:
data= pd.read_csv(r'C:\Users\rachi\Desktop\Machine Learninng\Youtube\Multiple-Linear-Regression-master\50_Startups.csv')

In [6]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [7]:
# Splitting into independent and dependent variables(features)
X=data.iloc[:,:-1]
Y=data.iloc[:,-1]

In [8]:
# Converting columns into categorical values
states=pd.get_dummies(X['State'], drop_first=True)

In [9]:
# Dropping State Column
X=X.drop('State', axis=1)

In [10]:
X.head()

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [11]:
X= pd.concat([X,states], axis=1)

In [12]:
X.head()

   R&D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [16]:
# Splitting into train test samples
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test= train_test_split(X,Y, test_size=0.2, random_state=0)

In [17]:
# Fitting Multiple Linear Regression Model
from sklearn.linear_model import LinearRegression
Lin_Reg = LinearRegression()

In [18]:
Lin_Reg.fit(X_train, Y_train)

LinearRegression()

In [20]:
# Predicting test results
y_pred= Lin_Reg.predict(X_test)
y_pred

array([103015.20159796, 132582.27760816, 132447.73845174,  71976.09851258,
       178537.48221055, 116161.24230165,  67851.69209676,  98791.73374687,
       113969.43533012, 167921.0656955 ])

In [22]:
from sklearn.metrics import r2_score
score=r2_score(Y_test, y_pred)

In [36]:
print(score*100,'%')

93.47068473282422 %